* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100%;
  background-image: radial-gradient(circle, #fff, #ccc);
}

.container {
  width: 90vw;
  height: 80vh;
  background-color: #9dd2ea;
  margin: 10vh 5vw;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0rem 0.4rem 0rem 0rem #009de4;
  position: relative;
}

.score {
  background-color: #f1ff92;
  color: #888e5f;
  padding: 1rem;
  position: absolute;
  right: 1rem;
  font-size: 2.5rem;
  box-shadow: 0rem 0.4rem 0rem 0rem #9da853;
}

.correct {
  position: absolute;
  left: 50%;
  top: 10%;
  background-color: #2f973a;
  color: white;
  padding: 1rem;
  font-size: 2rem;
  display: none;
}

.wrong {
  position: absolute;
  left: 50%;
  top: 10%;
  background-color: #b10d23;
  color: white;
  padding: 1rem;
  font-size: 2rem;
  display: none;
}

.questions {
  width: 80vw;
  height: 30vh;
  position: absolute;
  background-color: #9da0ea;
  margin: 15% auto 1% auto;
  box-shadow: 0rem 0.4rem #535aa8;
  font-size: 10rem;
  text-align: center;
  font-family: cursive, sans-serif;
  color: black;
}

.instruction {
  width: 80vw;
  height: 10vh;
  background-color: #b481d9;
  margin: 57% 0 1% 0;
  text-align: center;
  line-height: 5rem;
  font-size: 2rem;
  box-shadow: 0rem 0.4rem #8153a8;
}
