* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100%;
  background-image: radial-gradient(circle, #fff, #ccc);
}

.container {
  width: 90vw;
  height: 80vh;
  background-color: #9dd2ea;
  margin: 10vh 5vw;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0rem 0.4rem 0rem 0rem #009de4;
  position: relative;
}

.score {
  background-color: #f1ff92;
  color: #888e5f;
  padding: 1rem;
  position: absolute;
  right: 1rem;
  font-size: 2.5rem;
  box-shadow: 0rem 0.4rem 0rem 0rem #9da853;
}

.correct {
  position: absolute;
  left: 50%;
  top: 10%;
  background-color: #2f973a;
  color: white;
  padding: 1rem;
  font-size: 2rem;
  display: none;
}

.wrong {
  position: absolute;
  left: 50%;
  top: 10%;
  background-color: #b10d23;
  color: white;
  padding: 1rem;
  font-size: 2rem;
  display: none;
}
